/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
  font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.lock {
  overflow: hidden;

}

.column-menu{

    margin: 0 auto;
    padding-left: 43px;
    z-index: 50;
}
.header__menu{
  display: none;
  position: absolute;
  z-index: 50;
  height: 10%;
  width: 10%;
  overflow: auto;
  background-color: #4C2490;
  transition: all 5s ease 0s;
}



.header__menu.active{ 
  display: block; 
  float: left;
  height: 100%;
  width: 25%;
  
}

.header__menu nav{
  margin: 97px 0 0 34px;
  float: left;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
}



.header__menu a{
  color: #fff;
}

/*Фоны*/

.bgr1 {
  background: linear-gradient(180deg, #4B2290 1.53%, #6A23A0 100%);
}
.bgr2 {
  background: #3F139F;
}
.bgr3 {
  background: linear-gradient(0.43deg, #3F13A0 0.54%, #4B2290 72.33%, #6A23A0 99.54%);
}

.bgr4{
  background: #F0F1FF;
}

.bgr5{
  background: #380BA8;
}

/* Кнопки */

.burger {
  top: 10px;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 51;
}
.burger:before,
.burger:after {
  content: '';
  background-color: #fff;
  position: absolute; 
  width: 27px;
  height: 0px;
  left: 0;
  border: 1px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 1000px;
  transition: all 0.3s ease 0s;
}
.burger:before{
  top: 0;
}

.burger:after{
  bottom: 0;
}
.burger.active:before{
  transform: rotate(45deg);
  top: 8px;
  width: 36px;
  background: #fff;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 1000px;
}
.burger.active:after{
  transform: rotate(-45deg);
  bottom: 8px;
  background: #fff;
  width: 36px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 1000px;
}
.burger.active span {
  transform: scale(0);
}

.burger span {
  content: '';
  background-color: #fff;
  position: absolute;
  top: 8px; 
  width: 23px;
  height: 1px;
  left: 0;
  border: 1px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 1000px;
  transition: all 0.3s ease 0s;
}

.main-button,
.main-button1,
.main-button2 {
  margin: 50px 0 40px 0;

}

.main-button1 {
  color: #fff;
  font-size: 15px;
  line-height: 18px;

}

.main-button2, .button{
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #FBAD05;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 15px 30px;
}
.main-button2 {
  color: #FBAD05;
  margin-left: 37px;
 
}
.button {
  color: #000;
  background-color: #FBAD05;
  margin-bottom: 40px;
}
.button:hover {
  box-shadow: 0 0 15px 	#ffd919;
  -moz-box-shadow: 0 0 12px 	#ffd919;
  -o-box-shadow: 0 0 12px #ffd919;
  -ms-box-shadow: 0 0 12px #ffd919;
  -webkit-box-shadow: 0 0 12px #ffd919;
}
.main-button1:hover {
  color: #FBAD05;
}

.main-button2:hover {
  color: #000;
  background-color: #FBAD05;
}

/* Стили текста*/

h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
  
}

h2 {
  font-weight: 500;
  font-size: 46px;
  line-height: 54px;
  color: #FFF;
}

h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FBAD05;
  padding: 20px 0;
  
}

h5{
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

section span {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #C9BCDD;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #C7BAE0;
  padding: 50px 0 65px 0;
}
header span {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 80%;
  color: #D9D3F4;
 }

 section p {
  padding: 20px 0 40px 0;
 }

/* Позиционирование */

header .col1-2 {
  padding: 189px 0 60px 0;
  z-index: 1;
}

header .col1-3:last-child {
  position: relative;
  top: 8px;
}
.cloud{
  width: 100%;
  clear: both;
}

.text-item {
  align-items: center;
  text-align: center;

}

.column {

  
  margin: 0 auto;
  padding: 0 80px 0 80px;
}


.col1-2{
  display: inline-block;
  position: relative;
  height: auto;
  width: 45%;
  
 
}
.col2-1{
  display: inline-block;
  width: 55%;
  padding-top: 80px;
  
}

.bgr3 .col1-2 {
  max-width: 432px;
  padding-top: 180px;
}

.bgr2 .column:first-child {
  
  margin: 0 auto;
  padding: 0 0 0 80px;
}
.bgr2 .col1-2:first-child {
  padding-top: 200px;
  max-width: 428px;
}

.bgr2 .col1-2:last-child {
  padding: 160px 0 110px 0;
  max-width: 428px;
}

.container {
  max-width: 1440px;
}

.column1 {
  margin: 0 auto;
  padding: 37px 80px 0 80px; 

 } 

.column2 {
  display: flex;
  justify-content: space-between;
  
  margin: 0 auto;
  padding: 0 137px 0 137px;
}

.column2 p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3A3A3A;
}

 .col1-3 {
  display: inline-block;
  width: 33%;
 }

.column2 .col1-3 {
  max-width: 300px;
 }

 .column2 .col1-3:last-child {
  padding-bottom: 100px;
 }


img {

  max-width: 100%;
}

aside {
  float: right;
  
}


.blacktext {
  color: #000000;
}

.column1 .col1-3:nth-child(2) {
  text-align: center;
}
.column1 .col1-3:nth-child(3) {
  text-align: right;
  
}

/* Подвал */

.top {
  display: inline-block;
  width: 25%;
}
.top1 {
  width:74%;
}
.top1 .col1-4{
  display: inline-block;
  width: 30%;
}

footer .col1-4:last-child{
  margin: 18px 0 18px 0;

}
.top1 {
  display: inline-block;
}
.top img:first-child{
 display: block;
}

.col1-4 small{
  display: block;
  padding: 20px 0;
  font-size: 16px;
  line-height: 19px;
  color: #CEC3E9;
}

.top:first-child{
 
  position: relative;
  bottom: 29px;
}

ul a{
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  padding-top: 40px;
}

@media (max-width: 1202px) {
  header .col1-2 {
    padding: 150px 0 60px 0;
  }
  .column2 {
    padding: 0 100px 0 100px;
  }
}

@media (max-width: 1087px) {
  header .col1-2 {
    padding: 100px 0 60px 0;
  }
  h1 {
  font-size: 40px;
  line-height: 49px;
}
  p {
    padding: 30px 0 45px 0;
  }
  .column2 {
    padding: 0 80px 0 80px;
  }
  .column2 .col1-3 {
  max-width: 250px;
}
  .bgr3 .col1-2 {
    padding: 80px 0 0 40px;
  }
  .bgr2 .col1-2:first-child {
    padding-top: 120px;
  }
  .bgr2 .col1-2:last-child {
    padding: 100px 0 110px 50px;
  }
  footer .col1-4:last-child{
  padding-left: 30px;
}
}


@media (max-width: 1024px) {
  
  .bgr2 .col1-2:first-child {
    padding-top: 120px;
    padding-bottom: 150px;
  }
  .bgr2 .col1-2:last-child {
    padding: 50px 0 110px 50px;
  }
}

@media (max-width: 998px) {
  .bgr3 .col1-2 {
    padding: 60px 0 0 40px;
  }
  footer .col1-4:nth-child(3){
  position: relative;
  top: 20px;
}
}

@media (max-width: 830px) {
   header .col1-3:nth-child(1) {
   width: 25%;
  }
  header .col1-3:nth-child(2) {
   width: 32%;
  }
  header .col1-3:nth-child(3) {
   width: 42%;
  }
   .column, .column1, .column2{
  padding-left: 35px;
  padding-right: 35px;
 }
 .bgr2 .column:first-child {
  
  margin: 0 auto;
  padding: 0 0 0 35px;
}
  h1 {
  font-size: 36px;
  line-height: 42px;
  }
  header span {
  font-size: 19px;
}
h2 {
  font-size: 33px;
  line-height: 40px;
}

h3 {
  font-size: 23px;
  line-height: 25px;
}
  section span {
  font-size: 16px;
}
p {
  font-size: 17px;
  line-height: 22px;
}
.bgr3 .col1-2 {
    padding: 50px 0 0 40px;
  }
  .column2 {
    padding: 0 50px 0 50px;
  }
  .column2 .col1-3 {
  max-width: 200px;
}
.button{
  font-size: 15px;
  line-height: 14px;
  padding: 10px 20px;
  border-radius: 65px;
}
.bgr3 .col1-2 {
    padding: 45px 0 0 40px;
  }
}

@media (max-width: 768px) {
  h1 {
  font-size: 37px;
  line-height: 37px;
  }
  
 .column, .column1, .column2{
  padding-left: 35px;
  padding-right: 35px;
 }
  p {
    padding: 20px 0 35px 0;
}
section p {
  padding: 15px 0 35px 0;
 }
}

@media (max-width: 736px) {
  .bgr3 .col1-2 {
    padding: 33px 0 0 40px;
  }
  p {
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 731px) {
  .bgr3 .col1-2 {
    padding: 30px 0 0 40px;
  }

@media (max-width: 667px) {
  .bgr3 .col1-2 {
    padding: 33px 0 0 40px;
  }
  p {
  font-size: 16px;
  line-height: 22px;
}
   .column, .column1, .column2{
  padding-left: 25px;
  padding-right: 25px;
 }
 .column-menu{
    margin: 0 auto;
    padding-left: 0px;
}
  h1 {
  font-size: 33px;
  line-height: 39px;
  }
  header span {
  font-size: 18px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 21px;
}
  section span {
  font-size: 14px;
}
h4 {
  font-weight: 500;
  font-size: 13px;
 } 
p {
  font-size: 14px;
  line-height: 22px;
}
 header .col1-2 {
    padding: 60px 0 60px 0;
  }
   .bgr3 .col1-2 {
    padding: 23px 0 0 40px;
  }
 .bgr2 .col1-2:first-child{
  padding-top: 21px;
 }

 @media (max-width: 568px) {
  .main-button2 {
    display: none;
  }
     .column, .column1, .column2{
  padding-left: 15px;
  padding-right: 15px;
 }
 .header__menu{
  height: 100%;
  width: 40%;
}

.header__menu nav{
  margin: 80px 0 0 20px;
 }
 .column1 {
  padding-top: 20px;
 }
 .bgr2 .column:first-child {
  margin: 0 auto;
  padding: 0 0 0 15px;
}
 .bgr3 .col1-2 {
    padding: 23px 0 0 0px;
  }
    .bgr2 .col1-2:last-child {
    padding: 50px 0 110px 0px;
  }
    h1 {
  font-size: 33px;
  line-height: 39px;
  }
  header span {
  font-size: 18px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 21px;
}
  section span {
  font-size: 14px;
}
h4 {
  font-weight: 500;
  font-size: 13px;
 } 
p {
  font-size: 14px;
  line-height: 22px;
}
 footer .col1-4:last-child{
  padding-left: 0px;
}
  header .col1-3:nth-child(1) {
   width: 31%;
  }
  header .col1-3:nth-child(2) {
   width: 32%;
  }
  header .col1-3:nth-child(3) {
   width: 35%;
  }
  .col1-2, .col1-3, .col2-1, .col1-4{
  width: 100%
  }  
  .column2 {
  display: block;
  align-items: center;
  text-align: center;
}  
  .column2 .col1-3 {
  max-width: 346px;
}
 .cloud {
  min-width: 100%;

 }
 aside {
  float: none;
 }
 header .col1-2 {
  padding-top: 70px;
  padding-bottom: 50px;
  margin-top: 454px;
  align-items: center;
  text-align: center;
 }
 header .col2-1 {
  float: right;
  padding: 0 0 0 0;
  margin-top: -670px;
 }
 .bgr3 .column {
  padding-top: 0px;
 }
 .bgr3 .col2-1 {
  padding-top: 0px;
 }

 .bgr2 .col1-2:first-child {
  margin-top: 750px;
  
 }
 .bgr2 .col2-1:nth-child(2){
  float: right;
  padding: 0 0 0 0;
  margin-top: -1000px;
}
    h1 {
  font-size: 34px;
  line-height: 40px;
  }
  header span {
  font-size: 17px;
  line-height: 20px;
}
h2 {
  font-size: 30px;
  line-height: 35px;
}

h3 {
  font-size: 20px;
  line-height: 21px;
}
  section span {
  font-size: 19px;
  line-height: 23px;
}
h4 {
  font-size: 15px;
  line-height: 24px;
 } 
p {
  font-size: 16px;
  line-height: 19px;

  }
  .button{
  font-size: 16px;
  line-height: 19px;
  padding: 15px 30px;
  border-radius: 100px;
}
.col1-4{
   align-items: center;
  text-align: center;
}
 footer .col1-4:nth-child(3){
  position: relative;
  top: 0px;
}
footer img:first-child{
  margin-right: 0px;
}
footer .col1-4:first-child{
  position: relative;
  bottom: 0px;
  margin-right: 0;
}

  .top{
  
  margin-top: 490px;
}
.col1-4 img:first-child{
 display: inline-block;
}
  .top1 {
    width: 100%;
    display: block;
    align-items: center;
  text-align: center;
    margin-top: -580px;
    padding-bottom: 140px;
  }
  .top1 .col1-4 {
    display: block;
    width: 100%;
  }

.top1 .col1-4:nth-child(1,2) {
  position: relative;
  top: 80px;
}